--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics>=8.1.0
opencv-python-headless>=4.8.0.76
numpy>=1.24.0,<2.0.0
Pillow>=10.0.0
pandas>=2.0.0
plotly>=5.18.0
streamlit>=1.30.0,<1.35.0
